

*.lock

*.bin

*.xml

*.xml

*.java

*.json

*.class

*.xml

*.png

*.apk

*.gradle

.idea/gradle.xml

*.xml

*.xml

*.java

*.class

*.class

*.class

.idea/.name

*.xml

*.xml

*.xml

*.xml

*.xml

*.iml

*.gradle

*.iml


